@using BlazorAppSales.Data;

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Sub Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in OrderLines)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.UnitPrice.ToString("C")</td>
                <td>@item.Quantity</td>
                <td>@item.LineAmount.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<OrderItem> OrderLines { get; set; }
}
