@page "/orders"
@using BlazorAppSales.Data;
@inject OrderService orderService

<h1>Orders</h1>

@if (orders == null)
{
    <p>Loading...</p>
}
else if (orders.Count() == 0)
{
    <p>No orders found.</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Customer Name</th>
                <th>Total</th>
                <th>Order Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in orders)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.customer_name</td>
                    <td>@order.Total</td>
                    <td>@order.OrderDate</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    IEnumerable<Order> orders;

    protected override async Task OnInitializedAsync()
    {
        orders = await orderService.GetAllOrders();
    }
}
