<div id="login" class="big-fancy-div" onclick="window.location.href='Identity/Account/Login'">
    Log In
</div>

<div id="register" class="big-fancy-div" onclick="window.location.href='Identity/Account/Register'">
    Register
</div>
 
